
<header class="readinglist__header">
    <h1 class="readinglist__title">My Reading List
        <span class="readinglist__title--small">({{($ctrl.bookmarks |filter:$ctrl.filter).length}} - {{$ctrl.bookmarks.length}})</span>
        <span class="readinglist__title--version">v{{$ctrl.version}}</span>
    </h1>
</header>

<div class="readinglist">
    <ul class="readinglist__list" ng-if="($ctrl.bookmarks |filter:$ctrl.filter).length > 0">
        <li class="readinglist__list__item" ng-repeat="bookmark in $ctrl.bookmarks |filter:$ctrl.filter">
            <reading-list-item bookmark="bookmark"></reading-list-item>
        </li>
    </ul>

    <h2 class="readinglist__no-items" ng-if="($ctrl.bookmarks |filter:$ctrl.filter).length < 1">No items found &hellip;</h2>
</div>

<footer class="readinglist__footer">
    <div class="readinglist__footer__left">
        <input type="text" class="readinglist__filter" placeholder="filter" ng-model="$ctrl.filter" autofocus/>
    </div>
    <div class="readinglist__footer__right">
        <button
            ng-click="$ctrl.fetchBookmarks()"
            title="Reload reading list">&#8635;</button>
        <button
            ng-click="$ctrl.addCurrentPage()"
            class="readinglist__btn-add"
            title="Add current page">+</button>
    </div>
</footer>
