
.readinglist__item {
    overflow: hidden;

    .readinglist__item__link {
        border-bottom: 2px solid #999;
        color: #666;
        display: block;
        overflow: hidden;
        padding: .5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
            background-color: #e4e4e4;
        }
    }
}
