/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, output {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html {
    /* stylelint-disable */
    /* line too long */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* stylelint-enable */
}

body {
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

figure {
    margin: 1em 40px;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

p, ul, ol {
    line-height: normal;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
    font-family: monospace, monospace, 'courier new';
    font-size: 1em;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
    display: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

a {
    background: transparent;
    border-bottom: 1px solid transparent;
    color: #3498db;
    cursor: pointer; // prevent no pointer when a has no href
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;

    &:hover {
        border-bottom: 1px solid currentColor;
        color: darken(#3498db, 10%);
    }

    &:visited {
        color: #3498db;
    }
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
    outline: 0;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

dfn {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
    height: auto;
    max-width: 100%;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    outline: 0;
    margin: 0;
}

input, select, textarea {
    box-shadow: none;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-font-smoothing: inherit;
}

button, select {
    text-transform: none;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
    appearance: button;
    cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], input[disabled] {
    cursor: default;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
    padding-block-start: 0;
    /* stylelint-disable */
    /* line too long */
    -moz-padding-end: 0;
    padding-block-end: 0;
    -moz-padding-start: 0;
    /* stylelint-enable */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
    box-sizing: border-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

td, th {
    padding: 0;
}
